.git
.github
.repos
.t3
.vite-plus
.aws
.ssh
.codex
.claude
.cursor
.vscode
**/.aws
**/.ssh
.netrc
.npmrc
.pypirc
**/.netrc
**/.npmrc
**/.pypirc
.env
.env.*
**/.env
**/.env.*
**/*.key
**/*.log
**/*.pem
**/*.sqlite
**/*.sqlite-shm
**/*.sqlite-wal
**/dist
**/node_modules
core
core.*
release
release-mock
